@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --dot-bg: black;
  --dot-color: white;
  --dot-size: 1px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}
.morphismEffect {
  background: #020817;
  box-shadow: 0 8px 32px 0 rgba(15, 117, 201, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.emailBody {
  --dot-bg: black;
  --dot-color: rgba(62, 194, 247, 0.916);
  --dot-size: 1px;
  --dot-space: 22px;
  border-radius: 20px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.w80 {
  width: 80%;
}
.card {
  padding: 20px 40px;
  margin: 50px auto;
}
.comment {
  height: 6px;
  background: #111;
  margin-top: 20px;
  border-radius: 6px;
}

.wrapper {
  width: 0px;
  animation: fullView 0.5s forwards linear;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}

.animate {
  animation: shimmer 2s infinite;
  background: linear-gradient(
    to right,
    #eff1f3df 4%,
    #e2e2e2dc 25%,
    #eff1f3dc 36%
  );
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

/* --------------------------- Email Toast Notification Styling ------------------ */
/* toast.css */
.toast-success {
  background-color: #020817; /* Green background for success */
  color: white; /* White text color */
}

.toast-error {
  background-color: #f44336; /* Red background for error */
  color: white; /* White text color */
}
